<!-- This file is part of the FlOpEDT/FlOpScheduler project.               -->
<!-- Copyright (c) 2017                                                    -->
<!-- Authors: Iulian Ober, Paul Renaud-Goud, Pablo Seban, et al.           -->
<!--                                                                       -->
<!-- This program is free software: you can redistribute it and/or modify  -->
<!-- it under the terms of the GNU Affero General Public License as        -->
<!-- published by the Free Software Foundation, either version 3 of the    -->
<!-- License, or (at your option) any later version.                       -->
<!--                                                                       -->
<!-- This program is distributed in the hope that it will be useful, but   -->
<!-- WITHOUT ANY WARRANTY; without even the implied warranty of            -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU      -->
<!-- Affero General Public License for more details.                       -->
<!--                                                                       -->
<!-- You should have received a copy of the GNU Affero General Public      -->
<!-- License along with this program. If not, see                          -->
<!-- <http://www.gnu.org/licenses/>.                                       -->
<!--                                                                       -->
<!-- You can be released from the requirements of the license by purchasing -->
<!-- a commercial license. Buying such a license is mandatory as soon as   -->
<!-- you develop activities involving the FlOpEDT/FlOpScheduler software   -->
<!-- without disclosing the source code of your own applications.          -->

{% extends "base.html" %}

{% csrf_token %}

{% load i18n %}

{% block title %} EDT {% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "base/better.css" %}"/>
  <script src="{% static "base/d3.v4.min.js" %}"></script>
  <script src="{% static "base/week_change.js" %}"></script>
  <script>
    var url_fetch_decale = "{% url "base:fetch_decale" department %}"; 
    var url_change_decale = "{% url "base:decale_changes" department %}"; 

    var usna = "{{ user.username }}" ;
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    var url_login = "{% url "people:login" %}";
    var current_year = "{{ current_year }}" ;
    var week_year_list = {{ all_weeks|safe }};
    var profs = {{ profs|safe }};

    var week_init = +"{{ week_init }}";
    var year_init = +"{{ year_init }}";
    
  var csrftoken = '{{ csrf_token }}';
  if(!jQuery.fn.jquery.startsWith("1")){
      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });
  }

  </script>
<style>
.crit {
    margin: 1em;
}
.crittop {
    margin-top: 1em;
}
</style>

    <div id="tools-main" style="width: 100%; overflow: hidden;">
<!--      <div id="svg" style="width: 680px; float: left;"></div> -->
      <div style="float: left; width=100px;"> <!--margin-left: 700px;">-->
	<fieldset>
	  <legend>{% trans "When ?" %}</legend>
	  <form onchange="is_orph();">
	    <input type="radio" id="canceled" name="when">{% trans "Cancelled class" %}</input><br/>
	    <input type="radio" id="pending" name="when">{% trans "Pending classes" %}</input><br/>
	    <input type="radio" id="scheduled" name="when">{% trans "Course scheduled on week" %}<select id="orig_date"></select></input>
	  </form>
	</fieldset>
      </div>
      <div style="float: left; width=100px;">
	<fieldset>
	  <legend> {% trans "Why ?" %}</legend>
	  <div class="msg-sem">{% trans "(Please fill in the date information)" %}</div><br/>
	  <div  class="div-filt"></div>
<!--	  <span class="crit"> Module : <select id="mod" class="dd-filt"></select></span>
	  <span class="crit"> Enseignant : <select id="prof" class="dd-filt"></select></span>
	  <span class="crit"> Groupe(s) : <select id="gp" class="dd-filt"></select></span>
-->
	</fieldset>
	<fieldset>
	  <legend>{% trans " Proposals" %}</legend>
	  <div class="cours"></div>
	</fieldset>
      </div>
      <div style="float: left; width=100px;">
	<fieldset>
	  <legend>{% trans " How ?" %}</legend>
	  <div class="div-aim"></div>
	</fieldset>
	  <div class="val" style="float: right">
	    <span id="but-val" class="crittop" style="float: right"></span><br/>
	    <span id="ack" class="crittop"></span>
	  </div>
	</div>
      </div>
    </div>

    
</script>
  <script type='text/javascript' src="{% static "base/decale.js" %}?2"></script>

{% endblock %}
